$ob: 'opensans-bold';
$obi: 'opensans-bolditalic';
$oe: 'opensans-extrabold';
$oei: 'opensans-extrabolditalic';
$oi: 'opensans-italic';
$ol: 'opensans-light';
$oli: 'opensans-lightitalic';
$or: 'opensans-regular';
$os: 'opensans-semibold';
$osi: 'opensans-semibolditalic';
$green: #87c63f;
$black: #484848;
$yellow: #FAA42D;
$gray: #999999;